//fonts

$font-poppins: "Poppins", sans-serif;
$font-roboto: "Roboto", sans-serif;

//colors
$color-primary: #2d416f;
$color-secondary: #4baa79;
$color-primary-alt: #2d416f;
$white: #ffffff;

//box-shadows
$shadow-1: 3px 0px 20px rgba(0, 0, 0, 0.04);
$shadow-2: 0px 5px 20px rgba(0, 0, 0, 0.04);

//
$navbar-height-web: 100px;
$sidenav-width: 302px;
$navbar-height-mobile: 70px;
