.alert__modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: #2d416f;
    font-size: 24px;
    font-weight: 700;
  }

  &-body {
    background-color: white;
    width: 434px;
    padding: 24px 40px;
    // text-align: center;
    border-radius: 8px;
  }
}

.createElement__modal:empty {
  display: none;
}

.createElement__modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}
