.indexedStep-1 {
  color: #4baa79;
  width: 30px;
  height: 30px;
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(206, 206, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  left: 130px !important;
  position: absolute;
}
.indexedStep-2 {
  color: #4baa79;
  width: 30px;
  height: 30px;
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(206, 206, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  left: -150px !important;
  position: absolute;
}

.indexedStep-1.accomplished {
  background-color: #4baa79;
  color: white;
  border-style: none;
}
.indexedStep-2.accomplished {
  background-color: #4baa79;
  color: white;
  border-style: none;
}

.RSPBprogressBar {
  height: 2px;
  width: 80%;
  line-height: 1;
  border-radius: 10px;
  position: relative;
  background-color: #cdcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  margin: 20px auto;
  display: none;
  @media screen and (min-width: 576px) {
    display: block;
  }
}

.RSPBprogressBar .RSPBstep {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: absolute;
  transform: translateX(-50%);
  transition-property: all;
  transition-timing-function: ease;
}

.RSPBprogressBar .RSPBprogressBarText {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.RSPBprogressBar .RSPBprogression {
  position: absolute;
  transition: width 0.3s ease;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background: #4baa79;
  z-index: -1;
}

@media screen and (max-width: 480px) {
  .indexedStep {
    width: 15px;
    height: 15px;
    font-size: 6px;
  }
}
