@use "../../styles/variables" as var;
@import "../../styles/breakpoints";

.dashboard {
  min-height: 100vh;

  &__body {
    background-color: #fbfbfb;
    width: 100%;
    margin-top: var.$navbar-height-mobile;
    padding: 30px 20px;
    min-height: calc(100vh - var.$navbar-height-mobile);

    @include md-breakpoint {
      width: calc(100% - var.$sidenav-width);
      margin-top: var.$navbar-height-web;
      margin-left: var.$sidenav-width;
      min-height: calc(100vh - var.$navbar-height-web);
      padding: 60px 20px;
    }

    @include lg-breakpoint {
      padding: 60px;
    }

    .back-button {
      margin-bottom: 26px;

      span {
        display: none;

        @include sm-breakpoint {
          display: inline-block;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          color: var.$color-primary-alt;
          margin-left: 14px;
        }
      }
      img {
        display: inline-block;
      }
    }
  }
}
