@use "../../../styles/variables" as var;
@import "../../../styles/breakpoints";
.element-form {
  label {
    color: #818da9;
    font-size: 14px;
    font-weight: 400;
  }
  .form-group {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;

    @include md-breakpoint {
      grid-template-columns: 1fr 1fr;
    }
  }
  .input-group {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr;
  }
  input[type="date"],
  input[type="text"],
  select {
    height: 56px;
    width: 100%;
    border: 1px #dadada solid;
    border-radius: 4px;
    padding: 16px;
    color: #818da9;
    font-size: 16px;
    font-weight: 400;
  }
  input[type="date"]::-webkit-datetime-edit-text,
  input[type="date"]::-webkit-datetime-edit-month-field,
  input[type="date"]::-webkit-datetime-edit-day-field,
  input[type="date"]::-webkit-datetime-edit-year-field {
    color: #818da9;
    font-size: 14px;
  }

  /* regular text style */
  input[type="date"].date-input--has-value::-webkit-datetime-edit-text,
  input[type="date"].date-input--has-value::-webkit-datetime-edit-month-field,
  input[type="date"].date-input--has-value::-webkit-datetime-edit-day-field,
  input[type="date"].date-input--has-value::-webkit-datetime-edit-year-field {
    color: #818da9;
    font-size: 14px;
  }
  ::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
  }
  input[type="radio"]:after {
    width: 11px;
    height: 11px;
    border-radius: 14px;
    top: -5.5px;
    left: 1px;
    position: relative;
    background-color: #fff;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }

  input[type="radio"]:checked:after {
    width: 11px;
    height: 11px;
    border-radius: 14px;
    top: -5.5px;
    left: 1px;
    position: relative;
    background-color: #4baa79;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }
  .radio {
    border-radius: 4px;
    border: 1px #dadada solid;
    padding: 16px 8px;
    display: flex;
    .radiogroup {
      margin-right: 16px;
    }
  }
  textarea {
    height: 146px;
    width: 100%;
    border: 1px #dadada solid;
    border-radius: 4px;
    padding: 16px;
    color: #818da9;
    font-size: 16px;
    font-weight: 400;
  }
  .btn {
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 14px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding: 16px;
    width: fit-content;
    margin-left: auto;
  }
  .primary-btn {
    background: #4baa79;
    color: #fff;
    width: 100%;
  }
  .secondary-btn {
    background: #fff;
    color: #4baa79;
    width: 100%;
    border: 2px solid #4baa79;
  }
  .radio-group {
    padding: 16px 8px;
    border: 1px #dadada solid;
    border-radius: 4px;
    // margin-bottom: 24px;
  }

  .button-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    @include md-breakpoint {
      grid-template-columns: 1fr 1fr;
    }
  }
  .switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
  }

  .switch-label {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .switch input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #4baa79;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #4baa79;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}
.page-labels {
  display: none;
  width: 75%;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 40px;
  @include md-breakpoint {
    display: flex;
  }
  p {
    color: #4baa79;
    font-size: 16px;
    font-weight: 600;
  }
}
